# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Project specific
cv-valid-dev/
common_voice.zip
*.mp3
*.wav

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Logs
*.log
logs/

# Docker
.DS_Store 

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

*.pem
